body{
    
    
 overflow: hidden;   
  
    
}
.texto{
    width: 15%;
    color: #0c0c0c;
    position: absolute;
    top:1% ;
    left: 1%;
  }
  .texto:hover{
    font-size: 35px;
  }
  
body img{
    width: 45%;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
}